# Python class #
###################
*.pyc

# config file #
config.py

# Directories #
/importsjp/
/inne/
/input/
/log/
/output/
/src/
/szablony/
/wikt-listy/
/rclimits/
/internal_tests/

# IDEs #
.project
.pydevproject
.settings/
